.success-view {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-image {
  width: 80px;
}
.success-head {
  color: rgba(30, 41, 59, 1);
  font-family: 'DM Sans';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.success-des {
  color: rgba(100, 116, 139, 1);
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.success-btn {
  background: rgba(247, 147, 30, 1);
  width: 131px;
  height: 32px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 8px;
  border: 0;
  color: rgba(255, 255, 255, 1);
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}
