.nav-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(248, 250, 252, 1);
}
@media (min-width: 768px) {
  .nav-con {
    padding: 10px 80px;
  }
}

.logo-con {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-head {
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(247, 147, 30, 1);
  text-align: left;
}

.nav-logo {
  width: 39px;
  height: 32px;
  top: 16px;
  left: 24px;
  padding: 2px;
}

.menu-btn {
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  color: rgba(24, 59, 86, 1);
  cursor: pointer;
  outline: none;
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.nav-list-sm {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  width: 60%;
  max-width: 300px;
  margin-top: 5px;
}
.nav-list-lg {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  width: 30%;
  max-width: 320px;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .nav-list-lg {
    display: none;
  }
}
.logout-btn {
  width: 73px;
  height: 32px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 8px;
  background: rgba(247, 147, 30, 1);
  /* font-family: 'Inter'; */
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  /* text-align: left; */
  color: rgba(255, 255, 255, 1);
  border: 0px;
}
.close-icon-btn {
  background-color: transparent;
  border: 0px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
}
.nav-list-con-sm {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 0px;
  transition: max-height 0.3s ease;
}

.nav-transition {
  /* height: 0px; */
  max-height: 0px;
  overflow: hidden;

  /* display: none; */
}

.show-nav {
  max-height: 70px;
}

.nav-item {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.35555556416511536px;
  text-align: left;
}
